* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  /* background: rgb(131,58,180);
  background: linear-gradient(-45deg, rgba(131,58,180,1) 0%, rgba(255,31,31,1) 50%, rgba(252,176,69,1) 100%); */
}
